.before-bg-file:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: var(--bg);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    opacity: 1;
    transition: opacity 0.3s;
  }
  
  .before-bg-file:hover:before {
    opacity: 0.1;
  }